.auth-container {
  .content-left {
    @media (width >= 768px) {
      div {
        background: $teal-500;
        box-shadow: var(--bs-box-shadow);
        color: white;

        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    @media (width >= 1200px) {
      div {
        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
  }

  .content-right {
    .hr {
      border: 0.5px solid var(--custom-color-neutral-1);
      margin: 0.5rem 0;
    }

    .brand {
      color: $teal-600;
    }
  }
}
