.general-layout-container {
  padding-top: 20px;
  padding-bottom: 40px;
  color: $gray-800;

  .layout-header {
    margin-top: 20px;
    margin-bottom: 16px;

    h3 {
      color: inherit;
    }
  }
}
