.project-list-container {
  padding-top: 20px;
  padding-bottom: 40px;
  color: $gray-800;

  h3 {
    margin-top: 20px;
    margin-bottom: 16px;
  }

  .project-item {
    position: relative;

    a {
      color: $gray-800 !important;
      text-decoration: none;
    }

    .custom-button {
      position: absolute;
      top: 8px;
      right: 8px;

      .btn {
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.project-adding-container {
  form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    .form-group {
      label {
        font-weight: 600;
        margin-bottom: 4px;
      }
    }

    @media screen and (min-width: $bp-sm) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
