.project-list-container {
  font-size: 0.9rem;
  .filter-item {
    & > label {
      margin-bottom: 0.25rem;
    }
  }
  .project-item {
    position: relative;

    a {
      color: $gray-800 !important;
      text-decoration: none;
    }

    .description {
      width: 100%;
      word-break: break-all;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      overflow: hidden;
      white-space: normal;
      line-clamp: 2;
      -webkit-line-clamp: 2;
    }

    .custom-button {
      position: absolute;
      top: 8px;
      right: 8px;

      .btn {
        padding: 4px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

.project-adding-container {
  font-size: 0.9rem;
  form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;

    .form-group {
      label {
        font-weight: 600;
        margin-bottom: 4px;
      }
    }

    .fill-button,
    .line-button {
      grid-column: 1 / span 2;
      font-size: 1.1rem;
      font-weight: 500;
    }

    @media screen and (min-width: $bp-sm) {
      & {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}
