.modal-user {
  color: $gray-800;

  .content-body {
    .red {
      color: red;
    }

    .form-group {
      margin-bottom: 10px;
    }
  }
}

.user-list-container,
.user-group-container {
  font-size: 0.9rem;

  .table-action {
    margin-top: 16px;
  }

  .table-container {
    color: inherit;
    margin-top: 16px;
    padding: 10px;
    border: 1px solid $gray-400;
    border-radius: 10px;
    box-shadow: var(--bs-box-shadow-sm);

    thead {
      th {
        background-color: inherit;
      }
    }

    tbody {
      font-weight: normal;
      td {
        .line-button,
        .fill-button {
          padding: 2px 8px 4px 8px;
        }
      }
    }
  }
}

.group-adding-container {
  font-size: 0.9rem;

  .group-parent {
    display: flex;
    flex-flow: column;
    gap: 14px;
    max-height: 400px;
    overflow: auto;
    padding-bottom: 10px;

    .group-child {
      display: flex;
      align-items: end;

      .group-input {
        padding-left: 10px;
        padding-right: 0;
        flex: 1;
        flex-basis: 250px;

        &.delete-button {
          flex: 0;
          flex-basis: 50px;
        }

        label {
          font-weight: 600;
          margin-bottom: 4px;
        }
        input {
          margin: 0;
        }

        button {
          display: inline-flex;
          justify-content: center;
          align-items: center;
          padding: 10px 10px;
        }
      }
    }
  }

  .group-bottom {
    padding-inline: 12px;
    margin-top: 16px;
    display: flex;
    gap: 8px;
  }
}
