.modal-user {
  .content-body {
    .red {
      color: red;
      border: none;
    }

    .form-group {
      margin-bottom: 10px;
    }
  }
}

.manage-users-container {
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
  }

  .custom-button {
    span {
      cursor: pointer;
    }
    .edit {
      color: #ffc107;
      margin-right: 6px;
    }
    .delete {
      color: #dc3545;
    }
  }
}
