.signup-container {
  .content-left {
    @media (width >= 768px) {
      div {
        background: linear-gradient(135deg, #72a6f3, #00d4ff, #91fb91);
        box-shadow: var(--bs-box-shadow);
        color: white;

        h1 {
          font-size: 2rem;
        }

        p {
          font-size: 1rem;
        }
      }
    }

    @media (width >= 1200px) {
      div {
        h1 {
          font-size: 4rem;
        }

        p {
          font-size: 1.2rem;
        }
      }
    }
  }
  .content-right {
    .hr {
      border: 0.5px solid rgb(196, 196, 196);
      margin: 0.5rem 0;
    }
    .forgot-pass {
      cursor: pointer;

      &:hover,
      &:focus {
        color: dodgerblue;
      }

      &:active {
        color: darkblue;
      }
    }
  }
}
